<launch>
  <node pkg="hybrid_astar" type="hybridAstar_node" name="hybrid_astar_node" clear_params="true">

      <!-- Placeholders for input remapping. Set your topic names as the "to" values 
      <remap from="/base_pose_ground_truth" to="odometry wala topic"/>
      <remap from="/move_base_simple/goal" to="goal wala topic"/>
      <remap from="/costmap_node/costmap/costmap" to="costmap wala topic"/>
      -->

  </node>
</launch>